# Environmental Variables
*.env
.env.test
.env*.local
.env.development

# Local Files
*.sql
README.md

# Next.js
build
.vercel
.next

# Tests
test-results
playwright.config.ts
coverage
*/__tests__
jest.config.js

# Dependencies
node_modules
yarn-debug.log
yarn-error.log

# Git and GitHub
.git
.github

# Lint and Formatter
.eslintcache
.eslintignore
.eslintrc
prettier.config.cjs

# Docker
Dockerfile
.dockerignore

# Typescript
.tsbuildinfo
