# Local Files
*.env
.env*.local
*.sql
README.md

# Next.js
out
build
.vercel
.next
.tsbuildinfo

# Tests
test-results
coverage
playwright.config.ts
jest.config.js

# dependencies
node_modules
yarn-debug.log
yarn-error.log
.pnp
.pnp.js

# Git and GitHub
.git
.github

# ESLint + Formatter
.eslintcache
.eslintignore
prettier.config.cjs

# Docker
Dockerfile
.dockerignore
