.env
build
README.md

# Next.js
.vercel
.next
.tsbuildinfo

# Tests
test-results

# Package manager
node_modules
yarn-debug.log
yarn-error.log

# Git and GitHub
.git

# ESLint
.eslintcache
.eslintignore

# Docker
Dockerfile
.dockerignore

# from Fly.io template
coverage
