# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
# dependencies
/node_modules
/.pnp
.pnp.js

# temporary addition
migrations/1654071853-insert-animals.js
migrations/1654077925-create-table-foods.js
migrations/1654077939-insert-foods.js
migrations/1654077945-create-table-animals_foods.js
migrations/1654077951-insert-animals_foods.js
migrations/1655800386-create-table-users.js
migrations/1655885327-create-table-sessions.js
migrations/1655885329-alter-table-sessions.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

.eslintcache
*.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/
